body {
    background-color: #F5F5F5;
}
.wrapper {
    padding: 0px 20px 20px 20px;
}
.form{
    display: inline-block;
    width: 100%;
    justify-content: center;
}
.input_field{
    width: 45%;
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin: 10px;
}